.anuncios{
    margin-top: 5rem;
    @include grid(3,2rem)
}

.anuncio{
    padding: 4rem;
    background-color: lighten($gris,5);
    border: 1px solid darken($gris,10);
    margin-bottom: 2rem;

    .contenido-anuncio{
        padding: 2rem;
    }

    h3{
        margin: 0;
    }

    p{
        margin: 0;
        text-align: justify;
    }
}