.footer {
  background-color: $grisOscuro;
  padding: calc($separacion / 2);
  display: grid;
  grid-template-columns: 30% 70%;

  p {
    color: $blanco;
    text-align: center;
    font-size: 1.5rem;
  }

  a {
    color: $blanco;
    text-decoration: none;
  }
  h2 {
    font-weight: $bold;
  }
}

.footerU{
  background-color: $grisOscuro;
  padding: calc($separacion / 4);
  p {
    color: $blanco;
    text-align: center;
    font-size: 1.5rem;
  }

  a {
    color: $blanco;
    text-decoration: none;
  }
  h2 {
    font-weight: $bold;
  }
}