.header{
    background-color: $amarillo;
    color: $blanco;

    .titulo-header{
        padding-left: 3rem;
        display: grid;
        grid-template-columns: 40% 60%;
        h2{
            text-align: left;
            font-weight: $bold;
        }
        a{
            text-decoration: none;
            color: $blanco;
        }
    }
}